server:
  port: 8081
#  servlet:
#    context-path: /

spring:
  datasource:
    username: root
    password: 20010720Lmx
    url: jdbc:mysql://47.109.206.82/student_grades?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC&characterEncoding=utf8&characterSetResults=utf8
  thymeleaf:
    cache: false
    check-template-location: 'true'
    mode: HTML5
    prefix: 'classpath:/templates/'
    suffix: '.html'
    servlet:
      content-type: 'text/html'
    encoding: UTF-8
  servlet:
    multipart:
      max-file-size: 100000000

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl  # 配置 MyBatis 日志实现
  global-config:
    db-config:
      id-type: Auto  # 主键类型配置
      table-prefix: tbl_  # 表前缀配置（可选）
  mapper-locations: classpath*:mapper/*Mapper.xml  # Mapper XML 文件路径
  type-aliases-package: cn.lanqiao.studentgradesmanagesystem.model.pojo  # 实体类包路径
